<app-progress *ngIf="dataLoading"></app-progress>
<main id="main" class="main" *ngIf="action.ResponseReceived">
    <div class="row">
        <div class="pagetitle dashboard col-sm-8">
            <h1>{{ action.MenuTitle }}</h1>
            <nav>
                <ol class="breadcrumb">
                    <li class="breadcrumb-item">
                        <a routerLink="admin/admin-dashboard">Home</a>
                    </li>
                    <li class="breadcrumb-item">{{ action.ParentMenuTitle }}</li>
                    <li class="breadcrumb-item active">{{ action.MenuTitle }}</li>
                </ol>
            </nav>
        </div>
    </div>

    <section class="section dashboard">
        <div class="card">
            <div class="card-body">
                <div class="dataTable-top">
                    <div class="dataTable-dropdown d-flex">
                        <select class="dataTable-selector form-select form-select-sm" [(ngModel)]="itemPerPage"
                            (change)="onPageSizeChange()">
                            <option *ngFor="let option of PageSize" [value]="option">
                                {{ option }}
                            </option>
                        </select>

                        <span class="ms-2">Entries per page</span>
                    </div>
                    <div class="dataTable-search d-flex gap-3">
                        <input class="dataTable-input form-control form-control-sm" type="date" [(ngModel)]="Search"
                            placeholder="Search by Date" />
                        <input class="dataTable-input form-control form-control-xl" [(ngModel)]="Search"
                            placeholder="Search By Patient Details" type="text" />
                    </div>
                </div>
                <div class="table-responsive">
                    <table class="table table-bordered">
                        <thead class="table-light">
                            <tr>
                                <th>#</th>
                                <th>OPD Date</th>
                                <th>OPD Code</th>
                                <th>UHID</th>
                                <th>Patient Name</th>
                                <th>Age</th>
                                <th>Gender</th>
                                <th>Contact</th>
                                <th>Payable Amount</th>
                                <th>Amount Paid</th>
                                <th>Payment Status</th>
                                <th>Due Amount</th>
                                <th>Print</th>
                                <th>Action</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr *ngFor="
                  let opd of opdList
                    | filter : Search
                    | orderBy : sortKey : reverse
                    | paginate : { itemsPerPage: itemPerPage, currentPage: p };
                  let i = index
                ">
                                <td>{{ i + 1 }}</td>
                                <td>{{ opd.OpdDate | date : "dd-MM-yyyy" }}</td>
                                <td>{{ opd.OpdCode }}</td>
                                <td>{{ opd.UHID }}</td>
                                <td>{{ opd.PatientName }}</td>
                                <td>{{ opd.Age }}</td>
                                <td>{{ AllGenderList[opd.Gender] }}</td>
                                <td>{{ opd.ContactNo }}</td>
                                <td>{{ opd.PayableAmount }}</td>

                                <td>{{ opd.PaidAmount }}</td>
                                <td class="fw-bold" [ngClass]="
                    opd.PaymentStatus == 1 ? 'text-success' : 'text-danger'
                  ">
                                    {{ AllPaymentStatus[opd.PaymentStatus] }}
                                </td>
                                <td>{{ opd.DueAmount }}</td>

                                <td>
                                    <button class="btn btn-sm btn-success" (click)="getPrint(opd)">
                                        <i class="bi bi-printer"></i>
                                </button>
                                </td>
                                <td>
                                    <button class="btn btn-sm btn-warning"
                    data-bs-toggle="modal"
                    data-bs-target="#staticBackdrop" (click)="editPackageCollection(opd)">
                                        <i class="bi bi-pencil-square"></i>
                                    </button>
                                </td>
                            </tr>
                        </tbody>
                        <tfoot>
                            <tr>
                                <th class=""></th>
                                <th></th>
                                <th></th>
                                <th></th>
                                <th></th>
                                <th></th>
                                <th></th>
                                <th></th>
                                <th>Total =</th>
                                <th>{{ OpdTotal.PaidAmount }}</th>
                                <th></th>
                                <th></th>
                                <th></th>
                            </tr>
                        </tfoot>
                    </table>
                </div>

                <div class="dataTable-bottom float-right">
                    <pagination-controls (pageChange)="onTableDataChange($event)" [responsive]="true"
                        [totalItems]="totalRecords" [itemsPerPage]="itemPerPage">
                    </pagination-controls>
                </div>
            </div>
        </div>
    </section>
</main>