<!-- <app-progress *ngIf="dataLoading"></app-progress> -->
<main id="main" class="main d-flex p-20">
     <mat-form-field appearance="outline" class="col-sm-3">
          <mat-label>UHid</mat-label>
          <input matInput name="UHID" required autofocus>
          <!-- <mat-error>
               Patient name is <strong>required</strong>
          </mat-error> -->
     </mat-form-field>

     <mat-form-field appearance="outline" class="col-sm-3">
          <mat-label>Patient Name</mat-label>
          <input matInput name="PatientName" required autofocus>
          <mat-error>
               Patient name is <strong>required</strong>
          </mat-error>
     </mat-form-field>

     <mat-form-field appearance="outline" class="col-sm-3">
          <mat-label>Age</mat-label>
          <input matInput name="PatientName" required autofocus>
          <mat-error>
               Age is <strong>required</strong>
          </mat-error>
     </mat-form-field>

     <mat-form-field appearance="outline" class="col-sm-3">
          <mat-label>Gender</mat-label>
          <input matInput name="PatientName" required autofocus>
          <mat-error>
               Gender is <strong>required</strong>
          </mat-error>
     </mat-form-field>

     <mat-form-field appearance="outline" class="col-sm-3">
          <mat-label>Contact No</mat-label>
          <input matInput name="PatientName" required autofocus>
          <mat-error>
               Contact No is <strong>required</strong>
          </mat-error>
     </mat-form-field>

     <mat-form-field appearance="outline" class="col-sm-3">
          <mat-label>Address</mat-label>
          <input matInput name="PatientName" required autofocus>
          <mat-error>
               Address is <strong>required</strong>
          </mat-error>
     </mat-form-field>
</main>